<div class="container">
  <form action="" class="form-login">
    <label for="usernameInput" class="sr-only">User Name</label>
    <input type="text" id="usernameInput" class="form-control" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-default pull-right" ng-click="login()">Log In</button>
  </form>
</div>