<div class="container">
  <div class="form">
    <p class="text-center">
      You have <strong>{{ theTime }}</strong> seconds left to answer this question.
    </p>
    <h3 ng-show="currentQuestion.question != null" class="lead text-center">{{ currentQuestion.question }}</h3>
    <h3 ng-hide="currentQuestion.question != null" class="lead text-center">No more question. Update soon.</h3>
    <input ng-show="authenticated" ng-model="userAnswer" type="text" class="form-control" placeholder="Type your answer here">
    <button ng-show="authenticated" class="btn btn-primary pull-right" ng-click="submitAnswer()">Answer</button>
  </div>
  <div ng-show="message !== ''" class="alert" ng-class="getMessageClass()">
      {{ message }}
  </div>
  <div ng-hide="authenticated">
    <p class="lead text-warning small">Please login to answer the question and earn POINTS
      <a href="#/login">Login</a>
    </p>
  </div>
  <div id="feed" class="col-sm-offset-2 col-md-8">
    <h5>Answers feed</h5>
    <div class="well well-sm" ng-repeat="item in feeds | orderBy: item.answerAt : true | range:selectedPage:pageSize">
      <p>Question: {{ item.questionText }}</p>
      <small>Answered by: <strong>{{ item.answerBy }}</strong></small>
      <p><small>{{ item.answerAt | date:"MM/dd/yyyy 'at' h:mma" }}</small></p>
    </div>
    <div class="pull-right btn-group" >
      <a ng-repeat="page in feeds | pageCount:pageSize" ng-click="selectPage($index + 1)" class="btn btn-default" ng-class="getPageClass($index + 1)">
        {{ $index + 1 }}
      </a>
    </div>
  </div>
</div>
