<div class="container">
  <div class="form">
    <p>
      Hello {{ theTime }}
    </p>
    <h3 ng-show="currentQuestion.questionText != null" class="lead text-center">{{ currentQuestion.questionText }}</h3>
    <h3 ng-hide="currentQuestion.questionText != null" class="lead text-center">No more question. Update soon.</h3>
    <!-- TEST TIMER STUFF -->
    <!-- <div id="counter"></div>> -->
    <script type="text/javascript">
      // var socket = io();
      // $('#counter').val();
      // socket.on('time', function(data){
        // console.log(data.time);
      // })
    </script>
    <!-- END TEST TIMER STUFF -->
    <input ng-show="authenticated" ng-model="userAnswer" type="text" class="form-control" placeholder="Type your answer here">
    <button ng-show="authenticated" class="btn btn-primary pull-right" ng-click="submitAnswer()">Answer</button>
  </div>
  <div ng-show="message !== ''" class="alert" ng-class="getMessageClass()">
      {{ message }}
  </div>
  <div ng-hide="authenticated">
    <p class="lead text-warning small">Please login to answer the question and earn POINTS
      <a href="#/login">Login</a>
    </p>
  </div>
  <div id="feed" class="col-sm-offset-2 col-md-8">
    <h5>Answers feed</h5>
    <div class="well well-sm" ng-repeat="item in feeds | orderBy: item.answerAt : true">
      <p>Question: {{ item.questionText }}</p>
      <small>Answered by: <strong>{{ item.answerBy }}</strong></small>
      <p><small>{{ item.answerAt | date:"MM/dd/yyyy 'at' h:mma" }}</small></p>
    </div>
  </div>
</div>
