<div class="container">
  <div ng-show="error_message !== ''" class="alert alert-danger">
    {{ error_message }}
  </div>
  <form action="" class="form">
    <label for="usernameInput" class="sr-only">User Name</label>
    <input type="text" id="usernameInput" class="form-control" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary pull-right" ng-click="signUp()">Sign Up</button>
  </form>
</div>