<div class="container">
  <div class="row">
    <div class="col-sm-4"><h1>{{ currentUser.username | LabelCase }}</h1></div>
    <div class="col-sm-8"><h3>Recently solved questions</h3></div>
  </div>
  <div class="row profile-row">
    <div class="col-sm-3">
      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span>{{ currentUser.username | LabelCase }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Points</strong></span>{{ points }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Recent win</strong></span>{{ mostRecentWin | date:"MM/dd/yyyy 'at' h:mma"  }}</li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="well" ng-repeat="item in questionsList | orderBy:true" ng-init="clicked = false">
        <h5>
          {{ item.questionText }}
            <div class="pull-right">
              <button ng-show="clicked" class="btn btn-default" ng-click=" clicked = !clicked; ">Hide Answer</button>
              <button ng-hide="clicked" class="btn btn-default" ng-click=" clicked = !clicked; ">Show Answer</button>
            </div>
        </h5>
        <span ng-show="clicked" class="lead">{{ item.answerText }}</span>
      </div>
    </div>
  </div>
</div>
